html {
  background-color: #141414;
}

.App {
  font-size: large;
  background-color: #141414;
  width: 100%;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
  text-align: center;
}
